A.inside:link {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #0a029b; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; TEXT-DECORATION: none
}
A.inside:visited {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #0a029b; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; TEXT-DECORATION: none
}
A.inside:active {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #0a029b; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; TEXT-DECORATION: none
}
A.inside:hover {
	BORDER-RIGHT: 1px ridge; PADDING-RIGHT: 2px; BORDER-TOP: 1px ridge; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px ridge; COLOR: #0a029b; PADDING-TOP: 2px; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #c5f4b9; TEXT-DECORATION: none
}
A.email:link {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #0a029b; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; TEXT-DECORATION: none
}
A.email:visited {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #0a029b; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; TEXT-DECORATION: none
}
A.email:active {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #0a029b; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; TEXT-DECORATION: none
}
A.email:hover {
	BORDER-RIGHT: 1px ridge; PADDING-RIGHT: 2px; BORDER-TOP: 1px ridge; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px ridge; COLOR: #0a029b; PADDING-TOP: 2px; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #c5f4b9; TEXT-DECORATION: none
}
A.outside:link {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #0a029b; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; TEXT-DECORATION: none
}
A.outside:visited {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #0a029b; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; TEXT-DECORATION: none
}
A.outside:active {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #0a029b; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; TEXT-DECORATION: none
}
A.outside:hover {
	BORDER-RIGHT: 1px ridge; PADDING-RIGHT: 2px; BORDER-TOP: 1px ridge; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px ridge; COLOR: #0a029b; PADDING-TOP: 2px; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #f9d8d8; TEXT-DECORATION: none
}
A.sitemap {
	COLOR: #000000; TEXT-DECORATION: none
}
BODY {
	FONT-FAMILY: "Verdana", "arial"; BACKGROUND-COLOR: #ffffff
}
TABLE {
	FONT-FAMILY: "Verdana", "arial"
}
H1 {
	MARGIN: 0px
}
H2 {
	MARGIN: 0px
}
H3 {
	FONT-SIZE: 110%; MARGIN: 0px; COLOR: #ff0000
}
H4 {
	BORDER-RIGHT: #daedcd 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: #daedcd 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 100%; BACKGROUND: #ebfac9; PADDING-BOTTOM: 6px; MARGIN: 0px; BORDER-LEFT: #daedcd 0px solid; COLOR: #ff0000; PADDING-TOP: 6px; BORDER-BOTTOM: #daedcd 1px solid
}
H5 {
	BORDER-RIGHT: 1px inset; PADDING-RIGHT: 6px; BORDER-TOP: 1px inset; PADDING-LEFT: 6px; FONT-SIZE: 110%; PADDING-BOTTOM: 6px; MARGIN: 0px; BORDER-LEFT: 1px inset; COLOR: #000000; PADDING-TOP: 6px; BORDER-BOTTOM: 1px inset
}
TABLE.sponsored {
	BORDER-RIGHT: #ddb7ba 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddb7ba 2px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddb7ba 2px solid; WIDTH: 100%; PADDING-TOP: 5px; BORDER-BOTTOM: #ddb7ba 2px solid; BACKGROUND-COLOR: #fff5f6
}
TABLE.green {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 80%; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #f1ffdd
}
TD.greentitle1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(_pics/celltop.jpg); PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle; WIDTH: 99%; PADDING-TOP: 10px; BORDER-BOTTOM: black 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #d6ebc3
}
TD.greentitle2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(_pics/celltop.jpg); PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle; WIDTH: 1%; PADDING-TOP: 10px; BORDER-BOTTOM: black 1px solid; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #d6ebc3
}
TD.green {
	PADDING-RIGHT: 10px; PADDING-LEFT: 50px; BACKGROUND-IMAGE: url(_pics/cellleft.gif); PADDING-BOTTOM: 10px; WIDTH: 100%; PADDING-TOP: 10px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #f1ffdd
}
IMG.green {
	WIDTH: 80%; HEIGHT: 30px; TEXT-ALIGN: center
}
TABLE.quotes {
	BORDER-RIGHT: #008080 1px dotted; BORDER-TOP: #008080 1px dotted; MARGIN-TOP: 20px; MARGIN-BOTTOM: 20px; BORDER-LEFT: #008080 1px dotted; WIDTH: 80%; BORDER-BOTTOM: #008080 1px dotted
}
TD.quotes {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: #008080; PADDING-TOP: 10px; BACKGROUND-COLOR: #fafbc8; TEXT-ALIGN: center
}
