/*
*  Bazillyo's Spiffy Popup Calendar Styles v1.5 Copyright S. Ousta
*/
#spiffycalendar {
	width: 185px;
	height:130px;
	left: 0px;
	top: 0px;
	background-color: black;
	position: absolute;
	visibility: hidden;
}

.cal-SymbolBtn {
	font-family: Webdings;
	font-size: 8pt;
	outline-style : none;
	outline-width: 0px;	
}

.cal-BtnLink {
	outline-style : none;
	outline-width: 0px;
}

a.cal-DayLink {
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
    color: black;
    background-color: transparent;
	cursor: url(jscript48/spiffycal.cur);

}
a.cal-DayLink:hover {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: Blue;
	cursor: url(jscript48/spiffycal.cur);
}
a.cal-DayLink:active {
   font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
    background-color: transparent;
    color: #0066FF;
	cursor: url(jscript48/spiffycal.cur);
}

.cal-TextBox{
  width: 120px; font-size: 10px; font-family: Verdana, Arial, Helvetica;
}

.cal-TextBoxInvalid{
    width: 150px; 
    font-family: Verdana,  Arial, sans-serif;
    font-size: 9pt;
    font-weight: normal;
}

.cal-TextBoxDisabled{
    width: 150px; 
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
}


.cal-ComboBox{
    color: Navy;
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    background-color: #EAFFFF;
}

.cal-Today {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    color: red;
    background-color: transparent;
}

.cal-Day {
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
    color: black;
    background-color: transparent;
}


a.cal-TodayLink {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    color: red;
    background-color: transparent;
}
a.cal-TodayLink:hover {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: Blue;
}
a.cal-TodayLink:active {
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: #0066FF;
}

.cal-GreyDate {
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
	background-color: #FFFFCC;
    color: #999999;
}

.cal-GreyInvalidDate {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: line-through;
	background-color: #FFFFCC;
    color: #999999;
}

.cal-DayCell {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
	background-color:White; /*#FFFFCC;*/
}

.cal-HeadCell {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
	color: Black;
	background-color: #99CCFF;/* #CCCC99; */
}

.cal-Table{
	border-top-color: #6666FF;
	border-left-color: #6666FF;
	border-right-color: #6666FF;
	border-bottom-color:  #6666FF;
	background-color: #6666CC;
	border-width:1px;
	border-style: solid;
	cursor: url(jscript48/spiffycal.cur);
}
