A.taboff {
	BORDER-BOTTOM: #3770a8 1px solid
}
A.taboffend {
	BORDER-BOTTOM: #3770a8 1px solid
}
A.tabon {
	BORDER-TOP: #3770a8 1px solid; BORDER-LEFT: #3770a8 1px solid
}
A.taboff {
	BORDER-TOP: #3770a8 1px solid; BORDER-LEFT: #3770a8 1px solid
}
A.tabon {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.tabon:visited {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.tabon:hover {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.taboff {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.taboff:visited {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.taboff:hover {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.tabonend {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.tabonend:visited {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.tabonend:hover {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.taboffend {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.taboffend:visited {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.taboffend:hover {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A.tabon {
	BACKGROUND-COLOR: #cce4f6
}
A.tabon:visited {
	BACKGROUND-COLOR: #cce4f6
}
A.tabon:hover {
	BACKGROUND-COLOR: #cce4f6
}
A.taboff:hover {
	BACKGROUND-COLOR: #cce4f6
}
A.tabonend {
	BACKGROUND-COLOR: #cce4f6
}
A.tabonend:hover {
	BACKGROUND-COLOR: #cce4f6
}
A.tabonend:visited {
	BACKGROUND-COLOR: #cce4f6
}
A.taboffend:hover {
	BACKGROUND-COLOR: #cce4f6
}
A.tabon {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #cce4f6 1px solid
}
A.tabonend {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #cce4f6 1px solid
}
A.tabonend {
	BORDER-RIGHT: #3770a8 1px solid; BORDER-TOP: #3770a8 1px solid; BORDER-LEFT: #3770a8 1px solid
}
A.taboffend {
	BORDER-RIGHT: #3770a8 1px solid; BORDER-TOP: #3770a8 1px solid; BORDER-LEFT: #3770a8 1px solid
}
.tabon {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 80%; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, "sans-serif
"; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.taboff {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 80%; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, "sans-serif
"; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tabonend {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 80%; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, "sans-serif
"; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.taboffend {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 80%; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, "sans-serif
"; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
